<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
  <meta charset="UTF-8"/>
  <title>ร่วมส่งคำอวยพรให้พี่พเยาว์</title>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Mitr:400,500&subset=thai" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="/main.min.css"></link>
    <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/scripts/three.js"></script>
    <script src="/scripts/threejs/renderers/Projector.js"></script>
    <script src="/scripts/threejs/renderers/CanvasRenderer.js"></script>
    <script src="/scripts/threejs/libs/stats.min.js"></script>

    <script src="/scripts/threejs/shaders/CopyShader.js"></script>
    <script src="/scripts/threejs/shaders/DotScreenShader.js"></script>
    <script src="/scripts/threejs/shaders/RGBShiftShader.js"></script>

    <script src="/scripts/threejs/postprocessing/EffectComposer.js"></script>
    <script src="/scripts/threejs/postprocessing/RenderPass.js"></script>
    <script src="/scripts/threejs/postprocessing/MaskPass.js"></script>
    <script src="/scripts/threejs/postprocessing/ShaderPass.js"></script>

    <script src="/scripts/main.js"></script>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '290151501335387',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="btn btn-primary btn-participate">ร่วมส่งกำลังใจ</div>
    <div id="threejs" class="hero">
      <div class="hero-overlay">
        <div class="hero-text">
          <h2><div>ศิษย์เก่า CP</div><div>ขอร่วมส่งกำลังใจให้</div></h2>
          <h1><div>พี่พเยาว์</div><div>:))</div></h1>
          <div
            class="fb-like"
            data-share="false"
            data-width="10"
            data-show-faces="false">
          </div>
        </div>
        
      </div>
    </div>
    <section id="cards">
      <div class="cards-header">จากใจศิษย์เก่า</div>
      <div class="container" data-masonry='{ "itemSelector": ".grid-item" }'>
        <div class="grid">
          <% messages.forEach(function(message) { %>
            <div class="grid-item">
              <div class="card">

                <img src="<%= message.imagePath%>"/>
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="card-footer">
                  <img src="https://www.sparklabs.com/forum/styles/comboot/theme/images/default_avatar.jpg"/>
                  <div class="info">
                    <div class="user-title">Title</div>
                    <div class="user-decsription">Description</div>
                  </div>
                </div>
              </div>
            </div>
          <% });%>
        </div>
      </div>
    </section>
    <section class="lightbox-container lightbox-participate" style="display:none;">
      <div class="wrapper">
      <div class="lightbox">
        <div class="btn-close">X</div>
        <div class="lightbox-header">ร่วมส่งกำลังใจ</div>
          <div class="form-control">
            <label>ชื่อ</label>
            <input type="text">
          </div>
          <div class="form-control">
            <label>รุ่น CP / หน่วยงาน</label>
            <input type="text">
          </div>
          <div class="form-control">
            <label>ถ้อยคำอวยพร</label>
            <textarea></textarea>
          </div>
          <div class="form-control">
            <label>ภาพ (ถ้ามี)</label>
            <div class="btn btn-secondary">
              <span>เลือกภาพ</span>
            </div>
          </div>
          <div class="btn btn-primary btn-post">
            <span>ส่งกำลังใจ</span>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>