@breakpointXS: 480px;
@breakpointS: 768px;
@breakpointM: 992px;
@breakpointL: 1200px;

body { margin: 0; padding: 0; background-color: #eee; }
.container {
  max-width: @breakpointL;
  margin: 0 auto;
}
.hero {
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  background-color: #fff;
}
.grid-item {
  width: 25%;
  @media(max-width: @breakpointL) { width: 33%; }
  @media(max-width: @breakpointS) { width: 50%; }
  @media(max-width: @breakpointXS) { width: 100%; }

  .card {
    margin: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    background-color: #fff;
    overflow: hidden;

    img {
      width: 100%;
      display: inherit;
    }
    .card-body {
      padding: 10px;
      color: #333;
      font-size: 13px;
      line-height: 17px;
      word-wrap: break-word;
    }
    .card-footer {
      border-top: 1px solid #e7e7e7;
      padding: 10px;
      img {
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
      }
      .info {
        display: inline-block;
        vertical-align: top;

        .user-title, .user-description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #555;
          line-height: 15px;
        }
        .user-title { font-weight: bold; }
        .user-description { display: block; font-weight: normal; }
      }
    }
  }
}